<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link type="text/css" href="/static/css/redmond/jquery-ui-1.8.22.custom.css" rel="stylesheet" />
   <link type="text/css" href="/static/css/app.css" rel="stylesheet" />
   <script data-main="/static/js/main" src="/static/js/libs/require/2.0.4/require.min.js"></script>
</head>

<body>
    <div id="menu" class="width5 center ui-widget">
        <a href="#">#</a>
        <a href="#route1">#route1</a>
        <a href="#activity_list">#activity_list</a>
        <br/><br/>
    </div>

    <table border="0" class="width5 center ui-widget">
        <tr>
            <td id="layout1" class="width5"></td>
            <td id="layout2" class="width5"></td>
        </tr>
        <tr>
            <td id="layout3" colspan="2"></td>
        </tr>
    </table>
</body>
</html>
