<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
   <link type="text/css" href="/static/css/app.css" rel="stylesheet" />
   <link type="text/css" href="/static/css/redmond/jquery.dataTables.custom.css" rel="stylesheet" />
   <link type="text/css" href="/static/css/redmond/jquery-ui-1.8.22.custom.css" rel="stylesheet" />
   
   <script data-main="/static/js/main" src="/static/js/libs/require/2.0.4/require.min.js"></script>
</head>

<body>
   <div class="width9 center ui-widget">
      <a href="#">#</a>
      <a href="#gaps">#gaps</a>
      <a href="#activities">#activities</a>
      <br />
      <br />
   </div>

   <div id="wrapper1" class="width9 center ui-widget" style="height: 100%"></div>
</body>
</html>
